.textbox-formfield {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding-left: 7px;
    color: #546e7a;
    border: 1px solid #cfd8dc;
    border-radius: 3px  ;
    font-weight: 300;
}

.textbox-formfield::placeholder {
    color: #bdbdbd;
}

.button-formfield {
    width: 104.5%;
    height: 40px;
    margin: 10px 0px;
    background-color: #455a64;
    border: 0;
    border-radius: 3px;
    color: #f0f0f0;
    cursor: pointer;
}